[Unit]
Description=gunicorn daemon for seefood site
Requires=gunicorn-{{ app_name }}.socket
After=network.target

[Service]
PIDFile=/run/gunicorn-{{ app_name }}/pid
User={{ app_user }}
Group={{ app_group }}
RuntimeDirectory=gunicorn-{{ app_name }}
WorkingDirectory={{ app_root }}
ExecStart={{ app_root }}/run_gunicorn
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target