[Unit]
Description=gunicorn daemon for sisepuede site
Requires=gunicorn-{{ ssp_name }}.socket
After=network.target

[Service]
PIDFile=/run/gunicorn-{{ ssp_name }}/pid
User={{ ssp_user }}
Group={{ ssp_group }}
RuntimeDirectory=gunicorn-{{ ssp_name }}
WorkingDirectory=/usr/lib/sisepuede/{{ ssp_env }}
ExecStart=/usr/lib/sisepuede/{{ ssp_env }}/run_gunicorn
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target