
/var/log/{{ ssp_name }}/sisepuede.log {
    rotate 5
    size 5M
    compress
    endscript
}

/var/log/gunicorn/{{ ssp_name }}-access.log /var/log/gunicorn/{{ ssp_name }}-error.log {
    rotate 5
    size 1M
    compress
    endscript
}
