*~
*.pyc
.env
.pyc
.csv
.DS_Store
.jpeg
.png
.JPG
__pycache__
db.sqlite3
RawFoodDatabase.db
README.md
values.txt
FoodDatabase/db.sqlite3
FoodDatabase/csvs/fndds_ingredient_nutrient_value.csv
FoodDatabase/csvs/food_calorie_conversion_factor.csv
FoodDatabase/csvs/food_category.csv
FoodDatabase/csvs/food_component.csv
FoodDatabase/csvs/food_nutrient_conversion_factor.csv
FoodDatabase/csvs/food_nutrient_derivation.csv
FoodDatabase/csvs/food_nutrient_source.csv
FoodDatabase/csvs/food_nutrient.csv
FoodDatabase/csvs/food_portion.csv
FoodDatabase/csvs/food_protein_conversion_factor.csv
FoodDatabase/csvs/food.csv
FoodDatabase/csvs/foundation_food.csv
FoodDatabase/csvs/input_food.csv
FoodDatabase/csvs/measure_unit.csv
FoodDatabase/csvs/nutrient_incoming_name.csv
FoodDatabase/csvs/nutrient.csv
FoodDatabase/csvs/wweia_food_category.csv
FoodDatabase/csvs/legacy_foods/food_nutrient.csv
FoodDatabase/csvs/legacy_foods/food_portion.csv
FoodDatabase/csvs/legacy_foods/food.csv
media/recipes/4A0BA479-B5CE-409E-930F-2B0EB2DFEF4D_4_5005_c.jpeg
media/recipes/4A5DE42E-730E-4CCE-9097-4E917B49E29B_4_5005_c.jpeg
media/recipes/4B3FFA6A-F140-436E-83CD-BE69C8F95FCB_4_5005_c.jpeg
media/recipes/4BA1A687-A1A1-4300-AB9C-A1D3B348A1A8_4_5005_c.jpeg
media/recipes/IMG_8621_05hnFht.JPG
media/recipes/IMG_8621.JPG
media/recipes/IMG_8861_anGdlzN.JPG
media/recipes/IMG_8861.JPG
media/recipes/Screen_Shot_2021-05-22_at_5.50.57_PM.png
media/recipes/Screen_Shot_2021-05-22_at_5.51.40_PM.png
media/recipes/Screen_Shot_2021-05-24_at_5.48.17_PM.png
recipes/._burger_nutrition_check.numbers
recipes/._urls.py
recipes/burger_nutrition_check.numbers
recipes/schema.txt
recipes/__pycache__/admin.cpython-38.pyc
recipes/__pycache__/convert_units.cpython-38.pyc
recipes/__pycache__/forms.cpython-38.pyc
recipes/__pycache__/models.cpython-38.pyc
recipes/__pycache__/urls.cpython-38.pyc
recipes/__pycache__/views.cpython-38.pyc
recipes/__pycache__/admin.cpython-38.pyc
recipes/__pycache__/convert_units.cpython-38.pyc
recipes/__pycache__/models.cpython-38.pyc
recipes/__pycache__/urls.cpython-38.pyc
recipes/__pycache__/views.cpython-38.pyc
recipes/migrations/__pycache__/0020_mealplan_plannedmeal.cpython-38.pyc
recipes/migrations/__pycache__/0021_auto_20210525_2210.cpython-38.pyc
recipes/migrations/__pycache__/0022_auto_20210526_1539.cpython-38.pyc
recipes/migrations/__pycache__/0023_auto_20210526_1820.cpython-38.pyc
recipes/migrations/__pycache__/0024_auto_20210526_1820.cpython-38.pyc
recipes/migrations/__pycache__/0025_auto_20210703_1807.cpython-38.pyc
recipes/migrations/__pycache__/0026_auto_20210713_1449.cpython-38.pyc
recipes/migrations/__pycache__/0027_auto_20210713_1716.cpython-38.pyc
recipes/migrations/__pycache__/0028_auto_20210714_1627.cpython-38.pyc
recipes/templates/recipes/._index_cards.html
recipes/templatetags/__pycache__/__init__.cpython-38.pyc
recipes/templatetags/__pycache__/recipe_extras.cpython-38.pyc
templates/registration/._login.html
tempt/._urls.py
tempt/._views.py
tempt/__pycache__/forms.cpython-38.pyc
tempt/__pycache__/settings.cpython-38.pyc
tempt/__pycache__/urls.cpython-38.pyc
tempt/__pycache__/views.cpython-38.pyc
recipes/__pycache__/admin.cpython-38.pyc
recipes/__pycache__/convert_units.cpython-38.pyc
recipes/__pycache__/models.cpython-38.pyc
recipes/__pycache__/urls.cpython-38.pyc
recipes/__pycache__/views.cpython-38.pyc
recipes/templatetags/__pycache__/recipe_extras.cpython-38.pyc
tempt/__pycache__/settings.cpython-38.pyc
tempt/__pycache__/urls.cpython-38.pyc
