{% with component.0.ingredient.id as ing_id %}
    <div name="add_ingredient" class='card inner-div w-100'>
        <div class='card-body'>
            {% if component.0.ingredient.ingredient %} 
                <p>Not what you think it should be? Change it!</p>
                <h5><input type="text" name="add_ingredient_name_{{ ing_id }}" value='{{ component.0.ingredient.ingredient|title }}'></h5>
            {% else %}
                <p>Can't find what you're looking for? Add it!</p>
                <h5><input type="text" name="add_ingredient_name_new" value='{{ search|title }}'></h5>
            {% endif %}
            <div>
                <h6>Basic information</h6>
                <table>
                    <tr>
                        <td>
                            Category: 
                        </td>
                        <td>
                            {% if ing_id %}
                                <select name='category_{{ ing_id }}' id='category_{{ component.0.id }}'>
                            {% else %}
                                <select name='category_new'>
                            {% endif %}
                            {% for option in category_choices %}
                                {% ifequal component.0.ingredient.category option.1 %}
                                    <option value='{{ option.0 }}' selected>{{ option.1 }}</option>
                                {% else %}
                                    <option value='{{ option.0 }}'>{{ option.1 }}</option>
                                {% endifequal %}
                            {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Serving size: 
                        </td>
                        <td>
                            {% if ing_id %}
                                {% if component.0.ingredient.typical_serving_size %}
                                    <input type="number" name="serving_size_{{ ing_id }}" id='serving_size_{{ component.0.id }}' value='{{ component.0.ingredient.typical_serving_size|floatformat:"2" }}' step='.01' class='num-input inline'>
                                    <select name='unit_{{ ing_id }}' id='serving_unit_{{ component.0.id }}' class='inline'>
                                    {% for option in unit_choices %}
                                        {% ifequal component.0.ingredient.typical_serving_unit option.0 %}
                                            <option value='{{ option.0 }}' selected>{{ option.1 }}</option>
                                        {% else %}
                                            <option value='{{ option.0 }}'>{{ option.1 }}</option>
                                        {% endifequal %}
                                    {% endfor %}
                                    </select>
                                {% else %}
                                    <input type="number" name="serving_size_{{ ing_id }}" id='serving_size_{{ component.0.id }}' value='1' step='.01' class='num-input inline'>
                                    <select name='unit_{{ ing_id }}' id='serving_unit_{{ component.0.id }}' class='inline'>
                                    {% for option in unit_choices %}
                                        {% ifequal 'GRAM' option.0 %}
                                            <option value='{{ option.0 }}' selected>{{ option.1 }}</option>
                                        {% else %}
                                            <option value='{{ option.0 }}'>{{ option.1 }}</option>
                                        {% endifequal %}
                                    {% endfor %}
                                    </select>
                                {% endif %}
                            {% else %}
                                <input type="number" name="serving_size_new" value='0' step='.01' class='num-input'>
                                <select name='unit_new' class='inline'>
                                {% for option in unit_choices %}
                                    {% ifequal 'GRAM' option.0 %}
                                        <option value='{{ option.0 }}' selected>{{ option.1 }}</option>
                                    {% else %}
                                        <option value='{{ option.0 }}'>{{ option.1 }}</option>
                                    {% endifequal %}
                                {% endfor %}
                                </select>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Weight: 
                        </td>
                        <td>
                        {% if ing_id %}
                            {% if component.0.ingredient.weight_per_serving %}
                                <input type="number" name="weight_per_serving_{{ ing_id }}" id='weight_{{ component.0.id }}' value="{{ component.0.ingredient.weight_per_serving|floatformat:'0' }}" step='.01' class='num-input'> g/serving
                            {% else %}
                                <input type="number" name="weight_per_serving_{{ ing_id }}" id='weight_{{ component.0.id }}' value="0" step='.01' class='num-input'> g/serving
                            {% endif %}
                        {% else %}
                            <input type="number" name="weight_per_serving_new" value="0" step='.01' class='num-input'> g/serving
                        {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <h6>Nutrition information <strong>PER 100 GRAMS</strong></h6>
                <table>
                    <tr>
                        <td>
                            Calories: 
                        </td>
                        <td>
                            {% if component.0.ingredient.calories %}
                                <input type="number" name="calories_{{ ing_id }}" id='calories_{{ component.0.id }}' value="{{ component.0.ingredient.calories|floatformat:'0' }}" step='.01' class='num-input'>
                            {% elif component.0.ingredient %}
                                <input type="number" name="calories_{{ ing_id }}" id='calories_{{ component.0.id }}' value="0" step='.01' class='num-input'>
                            {% else %}
                                <input type="number" name="calories_new" value="0" step='.01' class='num-input'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Total Fat: 
                        </td>
                        <td>
                            {% if component.0.ingredient.fat %}
                                <input type="number" name="fat_{{ ing_id }}" id='fat_{{ component.0.id }}' value="{{ component.0.ingredient.fat|floatformat:'0' }}" step='.01' class='num-input'> &nbsp;&nbsp;&nbsp;g
                            {% elif component.0.ingredient %}
                                <input type="number" name="fat_{{ ing_id }}" id='fat_{{ component.0.id }}' value="0" step='.01' class='num-input'> &nbsp;&nbsp;&nbsp;g
                            {% else %}
                                <input type="number" name="fat_new" value="0" step='.01' class='num-input'> &nbsp;&nbsp;&nbsp;g
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class='indented'>
                            Transfat: 
                        </td>
                        <td>
                            {% if component.0.ingredient.transfats %}
                                <input type="number" name="transfats_{{ ing_id }}" id='transfat_{{ component.0.id }}' value="{{ component.0.ingredient.transfats|floatformat:'0' }}" step='.01' class='num-input'> &nbsp;&nbsp;&nbsp;g
                            {% elif component.0.ingredient %}
                                <input type="number" name="transfats_{{ ing_id }}" id='transfat_{{ component.0.id }}' value="0" step='.01' class='num-input'> &nbsp;&nbsp;&nbsp;g
                            {% else %}
                                <input type="number" name="transfats_new" value="0" step='.01' class='num-input'> &nbsp;&nbsp;&nbsp;g
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class='indented'>
                            Saturated Fat: 
                        </td>
                        <td>
                            {% if component.0.ingredient.satfats %}
                                <input type="number" name="satfats_{{ ing_id }}" id='satfat_{{ component.0.id }}' value="{{ component.0.ingredient.satfats|floatformat:'0' }}" step='.01' class='num-input'> &nbsp;&nbsp;&nbsp;g
                            {% elif component.0.ingredient %}
                                <input type="number" name="satfats_{{ ing_id }}" id='satfat_{{ component.0.id }}' value="0" step='.01' class='num-input'> &nbsp;&nbsp;&nbsp;g
                            {% else %}
                                <input type="number" name="satfats_new" value="0" step='.01' class='num-input'> &nbsp;&nbsp;&nbsp;g
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class='indented'>
                            Monounsaturated Fat: 
                        </td>
                        <td>
                            {% if component.0.ingredient.monounsatfats %}
                                <input type="number" name="monounsatfats_{{ ing_id }}" id='monounsatfat_{{ component.0.id }}' value="{{ component.0.ingredient.monounsatfats|floatformat:'0' }}" step='.01' class='num-input'> &nbsp;&nbsp;&nbsp;g
                            {% elif component.0.ingredient %}
                                <input type="number" name="monounsatfats_{{ ing_id }}" id='monounsatfat_{{ component.0.id }}' value="0" step='.01' class='num-input'> &nbsp;&nbsp;&nbsp;g
                            {% else %}
                                <input type="number" name="monounsatfats_new" value="0" step='.01' class='num-input'> &nbsp;&nbsp;&nbsp;g
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class='indented'>
                            Polyunsaturated Fat:
                        </td>
                        <td>
                            {% if component.0.ingredient.polyunsatfats %}
                                <input type="number" name="polyunsatfats_{{ ing_id }}" id='polyunsatfat_{{ component.0.id }}' value="{{ component.0.ingredient.polyunsatfats|floatformat:'0' }}" step='.01' class='num-input'> &nbsp;&nbsp;&nbsp;g
                            {% elif component.0.ingredient %}
                                <input type="number" name="polyunsatfats_{{ ing_id }}" id='polyunsatfat_{{ component.0.id }}' value="0" step='.01' class='num-input'> &nbsp;&nbsp;&nbsp;g
                            {% else %}
                                <input type="number" name="polyunsatfats_new" value="0" step='.01' class='num-input'> &nbsp;&nbsp;&nbsp;g
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Cholesterol: 
                        </td>
                        <td>
                            {% if component.0.ingredient.cholesterol %}
                                <input type="number" name="cholesterol_{{ ing_id }}" id='cholesterol_{{ component.0.id }}' value="{{ component.0.ingredient.cholesterol|floatformat:'0' }}" step='.01' class='num-input'> mg
                            {% elif component.0.ingredient %}
                                <input type="number" name="cholesterol_{{ ing_id }}" id='cholesterol_{{ component.0.id }}' value="0" step='.01' class='num-input'> &nbsp;&nbsp;&nbsp;g
                            {% else %}
                                <input type="number" name="cholesterol_new" value="0" step='.01' class='num-input'> mg
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Sodium: 
                        </td>
                        <td>
                            {% if component.0.ingredient.sodium %}
                                <input type="number" name="sodium_{{ ing_id }}" id='sodium_{{ component.0.id }}' value="{{ component.0.ingredient.sodium|floatformat:'0' }}" step='.01' class='num-input'> mg
                            {% elif component.0.ingredient %}
                                <input type="number" name="sodium_{{ ing_id }}" id='sodium_{{ component.0.id }}' value="0" step='.01' class='num-input'> &nbsp;&nbsp;&nbsp;g
                            {% else %}
                                <input type="number" name="sodium_new" value="0" step='.01' class='num-input'> mg
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Carbs: 
                        </td>
                        <td>
                            {% if component.0.ingredient.carbs %}
                                <input type="number" name="carbs_{{ ing_id }}" id='carbs_{{ component.0.id }}' value="{{ component.0.ingredient.carbs|floatformat:'0' }}" step='.01' class='num-input'> &nbsp;&nbsp;&nbsp;g
                            {% elif component.0.ingredient %}
                                <input type="number" name="carbs_{{ ing_id }}" id='carbs_{{ component.0.id }}' value="0" step='.01' class='num-input'> &nbsp;&nbsp;&nbsp;g
                            {% else %}
                                <input type="number" name="carbs_new" value="0" step='.01' class='num-input'> &nbsp;&nbsp;&nbsp;g
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class='indented'>
                            Fiber: 
                        </td>
                        <td>
                            {% if component.0.ingredient.fiber %}
                                <input type="number" name="fiber_{{ ing_id }}" id='fiber_{{ component.0.id }}' value="{{ component.0.ingredient.fiber|floatformat:'0' }}" step='.01' class='num-input'> &nbsp;&nbsp;&nbsp;g
                            {% elif component.0.ingredient %}
                                <input type="number" name="fiber_{{ ing_id }}" id='fiber_{{ component.0.id }}' value="0" step='.01' class='num-input'> &nbsp;&nbsp;&nbsp;g
                            {% else %}
                                <input type="number" name="fiber_new" value="0" step='.01' class='num-input'> &nbsp;&nbsp;&nbsp;g
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td class='indented'>
                            Sugar: 
                        </td>
                        <td>
                            {% if component.0.ingredient.sugar %}
                                <input type="number" name="sugar_{{ ing_id }}" id='sugar_{{ component.0.id }}' value="{{ component.0.ingredient.sugar|floatformat:'0' }}" step='.01' class='num-input'> &nbsp;&nbsp;&nbsp;g
                            {% elif component.0.ingredient %}
                                <input type="number" name="sugar_{{ ing_id }}" id='sugar_{{ component.0.id }}' value="0" step='.01' class='num-input'> &nbsp;&nbsp;&nbsp;g
                            {% else %}
                                <input type="number" name="sugar_new" value="0" step='.01' class='num-input'> &nbsp;&nbsp;&nbsp;g
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Protein: 
                        </td>
                        <td>
                            {% if component.0.ingredient.protein %}
                                <input type="number" name="protein_{{ ing_id }}" id='protein_{{ component.0.id }}' value="{{ component.0.ingredient.protein|floatformat:'0' }}" step='.01' class='num-input'> &nbsp;&nbsp;&nbsp;g
                            {% elif component.0.ingredient %}
                                <input type="number" name="protein_{{ ing_id }}" id='protein_{{ component.0.id }}' value="0" step='.01' class='num-input'> &nbsp;&nbsp;&nbsp;g
                            {% else %}
                                <input type="number" name="protein_new" value="0" step='.01' class='num-input'> &nbsp;&nbsp;&nbsp;g
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        {% if not component.0.ingredient %}
            <div class='row'>
                <input type="submit" name="add_ingredient" class='btn-sm btn-dark' value="Add Ingredient">
            </div>
        {% endif %}
    </div>        
{% endwith %}
