{% if user.is_authenticated %}
    <div class="container">
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <form name="edit_recipe" action="{% url 'recipes:display_edit_recipe' recipe.id %}" method="post">
                {% csrf_token %}
                <input type='submit' value="Edit" class="btn-sm btn-light">
                <input type="hidden" id="recipe_id" value="{{ recipe.id }}">
            </form>
            {% include 'recipes/fav_shop_plan_bar.html' %}
        </div>
    </div>
{% endif %}