{% extends "base.html" %}

{% block title %} 
    Create Recipe
{% endblock %}

{% block main %}

    <div class='d-flex justify-content-center'>
        <form action = "{% url 'recipes:create_recipe' model %}" method="post">
            {% csrf_token %}
            <div>
                What would you like to create?
                <input type="radio" id="model_recipe" name="model" value="recipe" {% ifequal model 'recipe' %}checked{% endifequal %}>
                <label for="model_recipe">Recipe</label>
                <input type="radio" id="model_shopping_list" name="model" value="shopping_list" {% ifequal model 'shopping' %}checked{% endifequal %}>
                <label for="recipe">Shopping List</label>
            </div>
            <br>
            <div>
                <input type="text" value="{{ recipe.name }}" autocomplete="off" name = "recipe_name">
                <input type="submit" value="Create!">
            </div>
        </form>
    </div>
    
{% endblock %}

