{% extends "base.html" %}

{% block title %} 
    Create Recipe
{% endblock %}

{% block main %}

    {% if error_message %}
        <div class='row'>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                {{ error_message }} or update <a href="{% url 'recipes:detail' recipe.id %}">{{ recipe.name }}</a>. 
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    {% endif %}

    <div class='d-flex justify-content-center'>
        <form action = "{% url 'recipes:create_recipe' %}" method="post">
            {% csrf_token %}
            <input type="text" value="{{ recipe.name }}" autocomplete="off" name = "recipe_name">
            <input type="submit" value="Add recipe">
        </form>
    </div>
    
{% endblock %}

