{% load recipe_extras %}

{% if not plan_shopping_list %}
    <button class='btn-sm btn-danger float-right my-2' id='clear_current_list' onclick='clear_list()'>
        Empty List
    </button>
    <h4 class='txt-align-c m-3'>Current Shopping List</h4>
{% endif %}
{% if shopping %}
    <ul class="invisible_bullet">
        {% for category in shopping %}
            <li>
                <h6>{{ category|title }}</h6>
                <table>
                    {% for ingquant in shopping|get_item:category %}
                        <tr>
                            <td>
                                <input type="checkbox" name="ing_checkbox">
                            </td>
                            <td>
                                <label for="ing_checkbox">    
                                    {{ ingquant.quantity|floatformat }} {{ ingquant.get_unit_display|lower }} {{ ingquant.ingredient }} 
                                </label>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                <br><br>
            </li>
        {% endfor %}
    </ul>  
{% else %}   
    Nothing to see here! Go add some recipes or ingredients to your shopping lists!
{% endif %}