{% extends "base.html" %}

{% block title %} 
    {{ recipe.name }} 
{% endblock %}

{% block main %}
    
    {% if recipe.photo %}
        <img class="recipe_image img-fluid img-thumbnail" src="{{ recipe.photo.url }}" alt="recipe photo">
    {% endif %}
    <div name='toolbar' class='row'>
        <div class='col'>
            <h1 class="inline">{{ recipe.name|title }}</h1>
        </div>
        <div class='col'>
            <div class="container">
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                    <form name="edit_recipe" action="{% url 'recipes:display_edit_recipe' recipe.id %}" method="post">
                        {% csrf_token %}
                        <input type='submit' value="Edit" class="btn-sm btn-light">
                    </form>
                    {% include 'recipes/buttons.html' %}
                </div>
            </div>
        </div>
    </div>
    <p>
        <span class="food_category">{{ recipe.snack_or_meal|capfirst }}</span>
        {% if recipe.description %}
            <span class="recipe_description">
                {{ recipe.description }}
            </span>
        {% endif %}
    </p>
    <p class="recipe_time">
        <b>Prep:</b> {% if recipe.prep_time %}{{ recipe.prep_time }} min{{ recipe.prep_time|pluralize }}{% else %} -- min{% endif %}
        <b>Cook:</b> {% if recipe.cook_time %}{{ recipe.cook_time }} min{{ recipe.cook_time|pluralize }}{% else %} -- min{% endif %}
        <b>Total:</b> {{ total }} min{{ total|pluralize }}
        <br>
        <b>Servings:</b> {{ recipe.servings }} serving{{ recipe.servings|pluralize }}
    </p>
    <div class="ingredient_list">
        <h5>Ingredients:</h5>
        <ul class="invisible_bullet">
            {% for ingredient in ingredients %}
            <li>
                <input type="checkbox" name="ing_checkbox">
                <label for="ing_checkbox">    
                    {{ ingredient.0.quantity|floatformat }} {{ ingredient.1|lower }}{{ ingredient.0.quantity|pluralize}} {{ ingredient.0.ingredient }}
                </label>
            </li>
            {% endfor %}
        </ul>
    </div>  
    <div class="step_list">
        <h5>Steps:</h5>
        <ol>
        {% for step in steps %}
            <li>
                <input type="checkbox" name="step_checkbox">
                <label for="step_checkbox">    
                    {{ step.step }}
                </label>
            </li>
        {% endfor %}
        </ol>
    </div>       
{% endblock %}

