{% extends "base.html" %}

{% block title %} 
    {{ recipe.name }} 
{% endblock %}

{% block main %}
    {% if recipe.photo %}
        <img class="recipe_image img-fluid img-thumbnail" src="{{ recipe.photo.url }}" alt="recipe photo">
    {% endif %}
    <div name='toolbar' class='row'>
        <div class='col'>
            <h1 class="inline">
                {{ recipe.name|title }}
                {% if recipe.personalized %}
                    <i class="fas fa-user-edit"></i>
                {% endif %}
            </h1>
        </div>
        <div class='col'>
            {% include 'recipes/fav_shop_plan_bar.html' %}
        </div>
    </div>
    <div>
        <div class='row'>
            <div class='col-sm-auto g-0'>
                {{ recipe.snack_or_meal|capfirst }}
            </div>
            {% if recipe.author %}
                <div class='col'>
                    Author: {{ recipe.author }}
                </div>
            {% endif %}
        </div>
        <span class="food_category"></span>
        
        {% if recipe.description %}
            <span class="recipe_description">
                {{ recipe.description }}
            </span>
        {% endif %}
    </div>
    
    <p class="recipe_time">
        <b>Prep:</b> {% if recipe.prep_time %}{{ recipe.prep_time }} min{{ recipe.prep_time|pluralize }}{% else %} -- min{% endif %}
        <b>Cook:</b> {% if recipe.cook_time %}{{ recipe.cook_time }} min{{ recipe.cook_time|pluralize }}{% else %} -- min{% endif %}
        <b>Total:</b> {{ total }} min{{ total|pluralize }}
        <br>
        <b>Original Recipe:</b> {{ recipe.servings }} serving{{ recipe.servings|pluralize }}
        <br>
        <b>Showing:</b>
        {% include 'recipes/current_servings.html' %}
    </p>
    <hr>
    <div id='replaceable-content'>
        {% include 'recipes/display_ingredient_list.html' %}  
    </div>
    {% if steps %}
        <hr>
        <div class="step_list">
            <h5>Steps:</h5>
            <table>
            {% for step in steps %}
                <tr>
                    <td class='vertical-align-top'>
                        <input type="checkbox"/>
                    </td>
                    <td class='vertical-align-top'>
                        {{ step.order|add:1 }}.
                    </td>
                    <td>
                        {{ step.step }}
                    </td>
                </tr>
            {% endfor %}
            </table>
        </div>   
    {% endif %}  
    <hr>
    {% if recipe.notes %}  
        <div>
            <h5>Notes:</h5>
            <p>{{ recipe.notes }}</p>
        </div>
    {% endif %}
    <hr>
    {% if nutrition %}
        <div class='row'>
            <h5>Nutrition Information:</h5>
            <div class='col-sm-auto'>
                <table>
                    <tbody>
                        <tr>
                            <td>Calories:</td>
                            <td>{{ nutrition.calories|floatformat:'0' }}</td>
                        </tr>
                        <tr>
                            <td>Fat:</td>
                            <td>{{ nutrition.fat|floatformat:'0' }} g</td>
                        </tr>
                        <tr>
                            <td class='indented'>Sat Fat:</td>
                            <td>{{ nutrition.satfats|floatformat:'0' }} g</td>
                        </tr>
                        <tr>
                            <td class='indented'>Trans Fat:</td>
                            <td>{{ nutrition.transfats|floatformat:'0' }} g</td>
                        </tr>
                        <tr>
                            <td class='indented'>Monounsaturated Fat:</td>
                            <td>{{ nutrition.monounsatfats|floatformat:'0' }} g</td>
                        </tr>
                        <tr>
                            <td class='indented'>Polyunsaturated Fat:</td>
                            <td>{{ nutrition.polyunsatfats|floatformat:'0' }} g</td>
                        </tr>
                        <tr>
                            <td>Cholesterol:</td>
                            <td>{{ nutrition.cholesterol|floatformat:'0' }} mg</td>
                        </tr>
                        <tr>
                            <td>Sodium:</td>
                            <td>{{ nutrition.sodium|floatformat:'0' }} mg</td>
                        </tr>
                        <tr>
                            <td>Carbs:</td>
                            <td>{{ nutrition.carbs|floatformat:'0' }} g</td>
                        </tr>
                        <tr>
                            <td class='indented'>Fiber:</td>
                            <td>{{ nutrition.fiber|floatformat:'0' }} g</td>
                        </tr>
                        <tr>
                            <td class='indented'>Sugars:</td>
                            <td>{{ nutrition.sugar|floatformat:'0' }} g</td>
                        </tr>
                        <tr>
                            <td>Protein:</td>
                            <td>{{ nutrition.protein|floatformat:'0' }} g</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class='col'>
                <h6>*Items not included</h6>
                <ul>
                    {% for item in uncounted %}
                        <li>
                            {{ item }}
                        </li>
                    {% endfor %}
                </ul>
                <h6>*Unverified ingredients</h6>
                <ul>
                    {% for item in unverified %}
                        <li>
                            {{ item }}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}
{% endblock %}

