{% extends "base.html" %}

{% block title %} 
    Edit Recipe
{% endblock %}

{% block main %}
{% load static %}
    <div class='container'>
        <div class='row row-cols-1 row-cols-md-2'>
            <div class='col'>
                <div class="alert alert-info alert-dismissible fade show w-75" role="alert">
                    {% if user_owner %}
                        {% if recipe.personalized %}
                            Here is your copy of this recipe for your editing pleasure!
                        {% else %}
                            You are editing the original recipe. If your recipe is public, other users can see your edits.
                        {% endif %}
                    {% else %}
                        You are making a private copy of this recipe and editing it.
                    {% endif %}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div> 
            </div>
            <div class='col-sm-auto'>
                {% include 'recipes/fav_shop_plan_bar.html' %}
            </div>  
        </div>
    </div>
    
    <div class='container'> 
        <form method="post" action = "{% url 'recipes:edit_recipe' recipe_id %}" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="recipe_id" id="recipe_id" value='{{ recipe.id }}'>
            <div class='container'> 
                <div class='fixed-bottom'>
                    <input type="submit" id="edit_recipe" value="Update Recipe" class='btn-sm btn-dark btn-block w-100'>  
                </div>
                <div class='title'>
                    {% if recipe.name %}
                        <input type='text' name='name' value='{{ recipe.name|title }}' class='w-100' autocomplete="off">
                    {% elif recipe.id %}
                        <input type='text' name='name' value='Recipe {{ recipe.id }}' class='w-100' autocomplete="off">
                    {% else %}
                        <input type='text' name='name' placeholder='name' class='w-100' autocomplete="off">
                    {% endif %}
                    {% if recipe.personalized %}
                        <i class="fas fa-user-edit"></i>
                    {% endif %}
                </div>            
                <div class='row row-cols-1 row-cols-md-2 g-0'>
                    <div class='col'>
                        <p>
                            {{ meal_form.as_p }}
                        </p>
                        <p>Author:
                            {% if recipe.author %}
                                <input type='text' class='form-control' name='author' autocomplete="off" value='{{ recipe.author|capfirst }}'>
                            {% else %}
                                <input type='text' class='form-control' name='author' autocomplete="off" placeholder='Who wrote this recipe?'>
                            {% endif %}
                        </p>
                        <p>
                            <strong>Public?</strong>
                            {% if user_owner %}
                                {% if not recipe.personalized %}
                                    <input type='checkbox' name='public' {% if recipe.public %} checked {% endif %}>
                                {% else %}
                                    Recipes can only be shared by their original poster
                                {% endif %}
                            {% else %}
                                Recipes can only be shared by their original poster
                            {% endif %}
                        </p>
                        <p>Description: 
                            {% if recipe.description %}
                                <input type="text" class="form-control" name="description" value="{{ recipe.description|capfirst }}" autocomplete="off">
                            {% else %}
                                <input type="text" class="form-control" name="description" placeholder="A short description" autocomplete="off">
                            {% endif %}
                        </p>
                    </div>
                    <div class='col'>
                        <div class='row'>
                            Please choose a photo (4MB max):
                            {{ photo_form }}
                        </div>
                        <div class='row mx-auto'>
                        {% if recipe.photo %}
                            <img class="recipe_image img-fluid img-thumbnail" src="{{ recipe.photo.url }}" alt="recipe photo">
                        {% endif %}
                        </div>
                    </div>
                </div>
                <div class='row g-0'>
                    <div class='col'>
                        {% if recipe.servings %}
                            Servings: <input type="number" name="servings" class="num-input" value="{{ recipe.servings|floatformat }}" min='0'>
                        {% else %}
                            Servings: <input type="number" name="servings" class="num-input" value="4" min='0'>
                        {% endif %}
                    </div>
                    <div class='col'>
                        {% if recipe.prep_time %}
                            Prep: <input type="number" class='num-input' name="prep" min=0 step=1 value="{{ recipe.prep_time|floatformat }}"> mins
                        {% else %}
                            Prep: <input type="number" class='num-input' name="prep" min=0 step=1 value="0"> mins
                        {% endif %}
                    </div>
                    <div class='col'>
                        {% if recipe.cook_time %}
                            Cook: <input type="number" class='num-input' name="cook" min=0 step=1 value="{{ recipe.cook_time|floatformat }}"> mins
                        {% else %}
                            Cook: <input type="number" class='num-input' name="cook" min=0 step=1 value="0"> mins
                        {% endif %}
                    </div>
                </div>
                {% include 'recipes/update_ing_list.html' %}
                <div class='row'>
                    <div class='col'>
                        <h6>Steps</h6>
                        <p>Please enter one step per box.</p>
                        {% if steps %}
                            <input type="hidden" name="num_steps" id="num_steps" value="{{ step_count }}">
                            <div>
                                <ol id="step_list">
                                    {% for step in steps %}
                                        <div class='row '>
                                            <div class='col g-1'>
                                                <li>
                                                    <input type="text" name="step_{{ step.order }}" id="step_{{ step.order }}" class="form-control" value="{{ step.step }}" autocomplete="off">
                                                </li>
                                            </div>
                                        </div>
                                    {% endfor %}
                                    <div class='row'>
                                        <div class='col g-1'>
                                            <li>
                                                <input type="text" name="step_{{ step_count }}" id="step_{{ step_count }}" class="form-control" value="" autocomplete="off">
                                            </li>
                                        </div>
                                    </div>
                                </ol>
                            </div>
                        {% else %}
                            <input type="hidden" name="num_steps" id="num_steps" value="1">
                            <ol id="step_list">
                                <div class='row'>
                                    <div class='col g-1'>
                                        <li>
                                            <input type="text" name="step_0" id="step_0" class="form-control" placeholder="Step 1" autocomplete="off">
                                        </li>
                                    </div>
                                </div>
                            </ol>
                        {% endif %}
                    </div>
                </div>
                <div class='row g-0'>
                    <div class='col'>
                        <h6>Additional Notes</h6>
                        {% if recipe.notes %}
                            <input type="text" class="form-control" name="notes" value="{{ recipe.notes|capfirst }}" autocomplete="off">
                        {% else %}
                            <input type="text" class="form-control" name="notes" placeholder="Additonal notes" value='' autocomplete="off">
                        {% endif %}
                    </div>
                </div>
            </div>
        </form>
    </div>

{% endblock %}

