{% load recipe_extras %}
{{ request.user.id|json_script:"user_id" }}
<div class="btn-group" role="group" aria-label="Shopping list, planning list, and favorite icons">
    <form id="shop_{{ recipe.id }}" name="shop" method="POST">
        {% csrf_token %}
        {% get_status 'shop' 'recipe' recipe.id request as shop_status %}
        {% if shop_status %}
            <button type="submit" name='sub_shop_{{ recipe.id }}' id='sub_shop_{{ recipe.id }}' class="btn shop"><i class="fas fa-store" title='Remove from Shopping List' style="color:#006300"></i></i></button>
        {% else %}
            <button type="submit" name='sub_shop_{{ recipe.id }}' id='sub_shop_{{ recipe.id }}' class="btn shop"><i class="fas fa-store-slash" title='Add to Shopping List' style="color:grey"></i></button>
        {% endif %}
    </form>

    <form id="plan_{{ recipe.id }}" name="plan" method="POST">
        {% csrf_token %}
        {% get_status 'plan' 'recipe' recipe.id request as plan_status %}
        {% if plan_status %}
            <button type="submit" name='sub_plan_{{ recipe.id }}' id='sub_plan_{{ recipe.id }}' class="btn plan"><i class="far fa-calendar-check" title='Remove from Meal Planning' style="color:#006300"></i></button>
        {% else %}
            <button type="submit" name='sub_plan_{{ recipe.id }}' id='sub_plan_{{ recipe.id }}' class="btn plan"><i class="far fa-calendar-times" title='Add to Meal Planning' style="color:grey"></i></button>
        {% endif %}
    </form>

    <form id="favt_{{ recipe.id }}" name="favorite" method="POST">
        {% csrf_token %}
        {% get_status 'fav' 'recipe' recipe.id request as fav_status %}
        {% if fav_status %}
            <button type="submit" name='sub_fav_{{ recipe.id }}' id='sub_fav_{{ recipe.id }}' class="btn favorite"><i class="fas fa-heart" title='Remove from Favorites' style="color:#ab0000"></i></button>
        {% else %}
            <button type="submit" name='sub_fav_{{ recipe.id }}' id='sub_fav_{{ recipe.id }}' class="btn favorite"><i class="far fa-heart" title='Add to Favorites' style="color:grey"></i></button>
        {% endif %}
    </form>
</div>