<div class='container'>
    {% include 'recipes/fav_shop_plan_bar.html' %}
</div>
<br><br>
<a href='{% url "recipes:plan_detail" plan.id %}' class='undecorated'>
    <h1>{{ plan.name }}</h1>
</a>
{% include 'recipes/plan_base_info.html' %}
<div class='m-2'>{% include 'recipes/expand_collapse.html' %}</div>
<br>
<br>


<div id='contents' class='container p-2'>
    {% include 'recipes/contents.html' %}
</div>
<div class='plan-container p-2 w-100'>
    <div class="accordion accordion-flush" id="accordionPanelsStayOpenExample">
        {% for day in days %}
            {% include 'recipes/meal_plan_card.html' %}
        {% endfor %}
    </div>
</div>

