<div class='container'>
    {% include 'recipes/fav_shop_plan_bar.html' %}
</div>
<br><br>
<a href='{% url "recipes:plan_detail" plan.id %}' class='undecorated'>
    <h1>{{ plan.name }}</h1>
</a>
{% include 'recipes/plan_base_info.html' %}
<div class='m-2'></div>
<div class='plan-container p-2 w-100'>
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-3">
        {% for day in days %}
            <div class="col">
                <div id='replaceable-content-{{ day|stringformat:"03d" }}'>
                    {% include 'recipes/meal_plan_card.html' %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<div class='container m-2'>
    <h6>Total servings</h6>
    <ul>
        {% for recipe in recipes %}
            <li>{{ recipe.1 }} servings of {{ recipe.0|title }}</li>
        {% empty %}
            <li>No meals yet! Go add something!</li>
        {% endfor %}    
    </ul>
    
    <h6>Shopping</h6>
    {% include 'recipes/current_shopping_list.html' %}
</div>