<div class='float-right'>
    <form action='{% url "recipes:display_edit_plan" plan.id %}' method='post'>
        {% csrf_token %}
        <input type='submit' value='Edit' class='btn btn-secondary'>
    </form>
</div>
<h1>{{ plan.name }}</h1>
{% include 'recipes/plan_base_info.html' %}
<div class='m-2'></div>
<div class='plan-container p-2 w-100'>
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 g-3">
        {% for day in days %}
            <div class="col">
                <div id='replaceable-content-{{ day|stringformat:"03d" }}'>
                    {% include 'recipes/meal_plan_card.html' %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>