{% extends "base.html" %}

{% block title %} 
    Recipes
{% endblock %}

{% block main %}
    {% if recipe_list %}
            {% for recipe in recipe_list %}
                <div class="card bg-dark text-white">
                    <img src="{{ recipe.photo.url }}" class="card-img">
                    <div class="card-img-overlay">
                    <h5 class="card-title"><a href="{{ MEDIA_URL }}/{{ recipe.url }}">{{ recipe.name }}</a></h5>
                    <p class="card-text">{{ recipe.description }}</p>
                    </div>
                </div>  
            {% endfor %}
        </ul>
    {% else %}
        <p>No recipes avaialbe.</p>
    {% endif %}
{% endblock %}


