{% extends 'base.html' %}

{% block title %} 
    Meal Planning
{% endblock %}

{% block main %}
<h1 class='txt-align-c'>Meal Planning</h1>
<div class='container'>
    <div class='row'>
        <div class='col g-0 m-0 p-1'>
            <input type='hidden' id='model' name='model' value='mealplan'>
            <a class='undecorated' href="{% url 'recipes:create_recipe' 'mealplan' %}">
                <div class="card w-100">
                    <div class="card-body">
                        <h5 class="card-title txt-align-c">Create a New Meal Plan</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class='col g-0 m-0 p-1'>
            <a class='undecorated' href="{% url 'recipes:index_plans' %}">
                <div class="card w-100">
                    <div class="card-body">
                        <h5 class="card-title txt-align-c">See All Plans</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class='row row-cols-1 row-cols-md-2'>
        <div class='col-md-7 outlined py-3'>
            {% if current_plan %}
                {% with current_plan as plan %}
                    {% include 'recipes/full_plan_card.html' %}
                {% endwith %}
            {% else %}
                <div class='txt-align-c'>
                    No current plan. 
                    <a href='{% url "recipes:create_plan" %}'>
                        Add one.
                    </a>
                </div>
            {% endif %}
        </div>
        {% if page_obj %}
            <div class='col-md-5'>
                {% for plan in page_obj %}
                    <div class='col'>
                        {% include 'recipes/plan_card.html' %}
                    </div>
                {% endfor %}

                {% include 'recipes/page_nav.html' %}
            </div>
        {% endif %}
    </div>
</div>
{% endblock %}