{% for recipe in recipes %}
    <div class='row {% if not recipe.photo %}added_recipe{% endif %}'>
        <div class='col'>
            <a href='{% url "recipes:detail" recipe.id %}' class='undecorated'>
                {% ifequal day 'all' %}
                    {% if recipe.photo %}
                        <div><img src="{{ recipe.photo.url }}" class="img-thumbnail plan_thumb" alt="{{ recipe.name|title }}" title="{{ recipe.name|title }}"></div>
                    {% else %}
                        <div class='planned_meals' id='all_{{ recipe.id }}'>{{ recipe }}</div>
                    {% endif %}
                {% else %}
                    {% if recipe.photo %}
                        <div><img src="{{ recipe.photo.url }}" class="img-thumbnail plan_thumb" alt="{{ recipe.name|title }}" title="{{ recipe.name|title }}"></div>
                    {% else %}
                        <div id='{{ day|stringformat:"03d" }}_{{ recipe.id|stringformat:"04d" }}_{{ meal }}'>{{ recipe|title }}</div>
                    {% endif %}
                {% endifequal %}
            </a>
        </div>
        {% if not display_only %}
            <div class='col-sm-auto'>
                <i class="fas fa-times delete" 
                {% ifequal day 'all' %}
                    id='delete_all' onclick="remove_food('all', '', '{{recipe.id}}')"
                {% else %}
                    id='delete_{{ day|stringformat:"03d" }}_{{ recipe.id|stringformat:"04d" }}_{{ meal }}' onclick="remove_food('{{day}}', '{{meal}}', '{{recipe.id}}')"
                {% endifequal %}
                ></i>
            </div>
        {% endif %}
    </div>
{% empty %}
    {% if display_only %}
        <div class='added_recipe' id='no_recipe' style='background-color:#ffe8e8;'>
            Going hungry!
            <a href='{% url "recipes:display_edit_plan" plan.id %}' class='undecorated'>Add something!</a>
        </div>
    {% endif %}
{% endfor %}