<div class="card w-100 m-1">
    <a class="undecorated" href="{% url 'recipes:plan_detail' plan.id %}">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <h5>
                        {{ plan.name|title }}
                    </h5>
                    {{ plan.start_date }} - {{ plan.end_date }}
                </div>
            </div>
        </div>
    </a>
    <div class='card-footer'>
        {% include 'recipes/fav_shop_plan_bar.html' %}
    </div>
</div>
