<div>
    <h5>Add Recipes:</h5>
    <form action="">
        {% csrf_token %}
        <input type='hidden' id='model' value='plan_search'>
        <div class='row'>
            <div class='col-sm-auto'>
                <i class="fas fa-search" id="search-icon"></i>
            </div>
            <div class='col'>
                <input class="search_bar p-1 w-100" type="text" name="q" id="user-input" placeholder="search by name" autocomplete="off">
            </div>
        </div>
        <div class='row'>
            <div class='col'>
            </div>
            <div class='col-sm-auto'>
                <input type="radio" id="all" name="group" value="all">
                <label for="all">All Recipies</label>
                <input type="radio" id="favorites" name="group" value="favorites">
                <label for="favorites">Favorites</label>
                <input type="radio" id="mine" name="group" value="mine" checked>
                <label for="mine">My Recipies</label>
                <input type="radio" id="public" name="group" value="public">
                <label for="public">Public Recipes</label>
                <input type="radio" id="ingredient" name="group" value="ingredient">
                <label for="ingredient">Ingredients</label>
            </div>
        </div>
    </form>
</div>