{% extends 'base.html' %}

{% block title %} 
    Meal Plans
{% endblock %}

{% block main %}
    <h1>Meal Plans</h1>
    <div class='container'>
        <div class='row row-cols-1 row-cols-sm-2 row-cols-md-4 row-cols-lg-4'>
            {% for plan in plans %}
                <div class='col'>
                    {% include 'recipes/plan_card.html' %}
                </div>
            {% empty %}
                <div class='txt-align-c'>
                    No current plan. 
                    <a href='{% url "recipes:create_plan" %}'>
                        Add one.
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}