{% extends "base.html" %}

{% block title %} 
    Shopping List 
{% endblock %}

{% block main %}
    <div class='container'>
        <div class='row'>
            <div id="replaceable-content" class='col'>
                {% include 'recipes/current_shopping_list.html' %}
            </div>
            <div class='col-sm-3'>
                <input type='hidden' id='user_id' name='user_id' value='{{ user_id }}'>
                <input type='hidden' id='model' name='model' value='shopping_list'>
                <a class='undecorated' href="{% url 'recipes:create_recipe' %}">
                    <div class="card w-100 m-1">
                        <div class="card-body">
                            <h5 class="card-title">Create a New List</h5>
                        </div>
                    </div>
                </a>
                <a class='undecorated' href="{% url 'recipes:index_shopping_lists' %}">
                    <div class="card w-100 m-1">
                        <div class="card-body">
                            <h5 class="card-title">See All Lists</h5>
                        </div>
                    </div>
                </a>
                {% for shopping_list in shopping_lists %}
                    {% include 'recipes/shopping_list_card.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
