{% load recipe_extras %}
<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
    <form name="edit_list" action="{% url 'recipes:update_shopping_list' list_id %}?next={{request.path}}" method="post">
        {% csrf_token %}
        <input type='submit' value="Edit" class="btn-sm btn-light">
    </form> 
    <form id="shop_{{ list_id }}" name="shop" method="POST">
        {% csrf_token %}
        {% get_status 'shop' 'shopping_list' list_id request as shop_status %}
        {% if shop_status %}
            <button type="submit" name='sub_shop_{{ list_id }}' id='sub_shop_{{ list_id }}' class="btn shop">
                <i class="fas fa-store" title='Remove from Shopping List' style="color:#006300"></i>
            </button>
        {% else %}
            <button type="submit" name='sub_shop_{{ list_id }}' id='sub_shop_{{ list_id }}' class="btn shop">
                <i class="fas fa-store-slash" title='Add to Shopping List' style="color:grey"></i>
            </button>
        {% endif %}
    </form>
</div>