.navbar {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Fruits_veggies.png/1024px-Fruits_veggies.png);
    color:black;
    font-weight:bold;
}

.navbar-brand {
    padding:.5em;
    font-size: 2em;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-transform: uppercase;
    color:#18096e;
    font-weight: bolder;
    background-color: white;
    opacity:.85;
}

.nav-item {
    background-color: white;
    opacity:.65;
    margin:.25em;
}

.nav-item:hover {
    opacity:.9;
}

.nav-link {
    color:black;
}

.navbar-toggler {
    background-color:white;
    opacity:.75
}

main {
    margin:1em;
}

.search_bar {
    width:90%;
}

.invisible_bullet {
    list-style-type:none;
}

.recipe_description {
    font-style:italic;
    color:rgb(63, 63, 63);
}

.food_category {
    text-transform: uppercase;
}

.recipe_time {
    margin:1em 0em 1em 0em;
}

.recipe_image {
    float:right;
    margin:1em;
    width:25vw;
    height:auto;
    max-height:max-content;
}

.inline {
    display:inline;
}

.add {
    float:right;
}

/* The below from https://openfolder.sh/django-tutorial-as-you-type-search-with-ajax
for animating blinking search icon */
@keyframes blinker {
    from {opacity: 1.0;}
    to {opacity: 0.0;}
  }
  
.blink {
    text-decoration: blink;
    animation-name: blinker;
    animation-duration: 0.6s;
    animation-iteration-count:infinite;
    animation-timing-function:ease-in-out;
    animation-direction: alternate;
}

.undecorated {
    text-decoration: none;
    color:black; 
}
.card {
    display: inline-block;
}

.indented {
    padding-left: 4ch;
}

.add_ing_card {
    display: flex;
    justify-content: center;
    padding:1em;
}
.nutrition_info {
    max-width:fit-content;
}

.inner_div {
    display:inline-block;
    text-align:left;
}

.fixed-bottom {
    position: fixed;
    z-index: 99;
    padding:1em 2em 1.5em 2em;
}

.right-align {
    float:right;
}

.title {
    font-weight:bold;
    font-size:2em;
    padding:0;
}

main {
    padding-bottom: 3em;
}

.float-right {
    float:right;
}

.row {
    padding-top:1em;
}

.num-input {
    width:6ch;
}

select {
    padding: 4px;
    margin-right: 5px;
    margin-left: 5px;
}

td {
    padding: 0em 0em .5em .5em;
}

.vertical-align-top {
    vertical-align: top;
}

.smaller {
    font-size:smaller;
}