{% extends 'base.html' %}

{% block title %}
    Sources
{% endblock %}

{% block main %}
    <h1 class='txt-align-c'>Thank You!</h1>

    <p>
        This website was made with support from the following sources:
        <ul>
            <li>
                <a href='https://cs50.harvard.edu/x/2021/' target="_blank">
                    EdX's Harvard's CS50x</a> 
                and 
                <a href='https://cs50.harvard.edu/web/2020/' target="_blank">
                    CS50 Web</a>, 
                for which this is a final project
            </li>
            <li>
                James Oakley, for being my live-in 24-7 TA
            </li>
            <li>
                <a href='https://www.w3schools.com/' target="_blank">W3 Schools</a>,
                <a href='https://www.geeksforgeeks.org/' target="_blank">GeeksForGeeks</a>,
                <a href='https://stackoverflow.com/' target="_blank">StackOverflow</a>, and
                <a href='https://docs.djangoproject.com/en/3.2/' target="_blank">the Django Documentation</a>
                were essential when I got stuck.
            </li>
            <li>
                <a href='https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Authentication' target="_blank">Mozilla</a> for the clear tutorial of how to use authentication in Django
            </li>
        </ul>
    </p>

    <p>
        The following tools and resources make up the building blocks of this site:
        <ul>
            <li>
                The USDA's 
                <a href='https://fdc.nal.usda.gov/' target="_blank">
                    Food Data Central</a>, who provided the initial nutrition and food database
            </li>
            <li>
                Django, Python, SQLite, Javascript, HTML, CSS
            </li>
            <li>
                <a href='https://getbootstrap.com/' target="_blank">
                    Bootstrap</a> and
                <a href='https://sweetalert.js.org/guides/' target="_blank">
                SweetAlert</a>
            </li>
            <li>
                Icons from <a href='https://fontawesome.com/' target="_blank">FontAwesome</a>
            </li>
            <li>
                Onion icon made by <a href="https://www.freepik.com" title="Freepik" target="_blank">Freepik</a> from <a href="https://www.flaticon.com/" target="_blank" title="Flaticon">www.flaticon.com</a>
            </li>
            <li>
                <a href='https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Fruits_veggies.png/1024px-Fruits_veggies.png' target='_blank'>
                    WikiMedia Commons
                </a>for the navbar image
            </li>
        </ul>
    </p>

{% endblock %}